body {
    background-color: black;
    margin: 0;
}

p {
    margin: 5px 360px;
    display: block;
    color: yellowgreen;
    overflow: hidden;
    font-family: monospace;
    animation-name: writeText;
    animation-duration: 1000ms;
    animation-fill-mode: forwards;
}

span {
  color: #00d742;
}

.fakeButtons {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    border: 1px solid #000;
    position: relative;
    top: 6px;
    left: 6px;
    background-color: #ff3b47;
    border-color: #9d252b;
    display: inline-block;
  }
  
  .fakeMinimize {
    left: 11px;
    background-color: #ffc100;
    border-color: #9d802c;
  }
  
  .fakeZoom {
    left: 16px;
    background-color: #00d742;
    border-color: #049931;
  }
  
  .fakeMenu {
    width: 650px;
    box-sizing: border-box;
    height: 25px;
    /* background-color: #bbb; */
    margin: 0 auto;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
  }
  
p button {
    /* background-color: #000; */
    border: 1 bold green;
}  

.delay1 {
    animation-delay: 2000ms;
}

.delay2 {
    animation-delay: 3000ms;
}

@keyframes writeText {
    from {
      width: 0;
    }
    to {
      width: 600px;
    }
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }